ul.breadcrumb
      li
        a(href='/') Home
        span.divider /
      li
        != linkTo('phone scripts', pathTo.phone_scripts())
        span.divider /
      li.active
        a(href='#') edit

.page-header
  h1 Edit Phone Script

- var form = formFor(phonescript, {action: pathTo.phone_script(phonescript), method: 'PUT', id: "phonescript_form", class: 'form-horizontal'});

!= form.begin()
include _form
.form-actions
  != form.submit('<i class="icon-ok icon-white"></i> Update phone_script', {class: 'btn btn-primary'})
  span= ' or '
  != linkTo('Cancel', pathTo.phone_script(phonescript), {class: 'btn'})
!= form.end()
