ul.breadcrumb
    li
       a(href='/') Home
       span.divider /
    li.active
       != linkTo('phone scripts', path_to.phone_scripts())

.page-header
  h1 Index of Phone Scripts


.row
  .span12
     p
        != linkTo('<i class="icon-plus icon-white"></i> New phonescript', path_to.new_phone_script(), {class: 'btn btn-primary'})

- if (phonescripts.length) {
.row
  .span12
     table.table.table-striped
       thead
         tr
           th Name
           th.span3 Actions
       tbody
         - phonescripts.forEach(function (phonescript) {
         tr
           td
             != linkTo(phonescript.name, path_to.phone_script(phonescript))
           td
             != linkTo('<i class="icon-edit"></i> Edit', pathTo.edit_phone_script(phonescript), {class: 'btn btn-mini'}) + ' '
             != linkTo('<i class="icon-remove icon-white"></i> Delete', pathTo.phone_script(phonescript), {class: 'btn btn-mini btn-danger', method: 'delete', remote: true, jsonp: '(function (u) {location.href = u;})'})
         - });
- } else{
.row
  .span12
     p.alert.alert-block.alert-info
        strong No phonescripts were found.
- }
