ul.breadcrumb
    li
       a(href='/') Home
       span.divider /
    li
       != linkTo('phone scripts', pathTo.phone_scripts())
       span.divider /
    li.active
       a(href='#') new

.page-header
  h1 New phonescript

- var form = formFor(phonescript, {action: pathTo.phone_scripts(), method: 'POST', id: "phonescript_form", class: 'form-horizontal'})

!= form.begin()
include _form
.form-actions
  != form.submit('<i class="icon-ok icon-white"></i>  Create phonescript', {class: 'btn btn-primary'})
  span= ' or '
  != linkTo('Cancel', pathTo.phone_scripts(), {class: 'btn'})
!= form.end()
