body {
  background: #fff;
}
button i {
  padding-left: 8px;
}
.controls.buttons .btn:not(:first-child) {
  margin-left: 10px;
}
.row-fluid label,
.row label {
  line-height: 30px;
}
div.mini-layout {
  display: table;
  table-layout: fixed;
  width: 100%;
}
div.mini-layout div.mini-layout-row {
  display: table-row;
}
div.mini-layout div.mini-layout-row div.mini-layout-cell {
  display: table-cell;
  padding: 0;
  vertical-align: top;
}
