h1
.well
  p.
    We have successfully created your account.
    A message with a confirmation link has been sent to your email address. Please open the link to activate your account.

  p.
    See you soon!