- contentFor('header', 'Set New Password')

- var form = formFor(user, {action: pathTo.reset_password, method: 'POST', id: "new_password_form", class: 'form-horizontal'});

!= form.begin()

  != inputTag({name: 'reset_password_token', type: 'hidden', value: reset_password_token})

  != errorMessagesFor(user) 

  .control-group
    != form.label("password", "New Password", {class: "control-label"})
    .controls
      != form.input("password", {type: 'password'})
  .control-group
    != form.label("password_confirmation", "Confirm New Password", {class: "control-label"})
    .controls
      != form.input("password_confirmation", {type: 'password'})

  .form-actions
    button(type="submit")#btn-update-password.btn.btn-primary
      i.icon-lock.icon-white
      | Reset