- contentFor('header', 'Forgot your password?')

!= formTagBegin({ action: path_to.reset_password_email, method: 'post', class: 'form-horizontal' })

  .control-group
    label.control-label.required Email
    .controls
      input(type="email", name="email")

  .form-actions
    button(type="submit")#btn-login.btn.btn-primary
      | Send me reset password instructions