module.exports =  
  development:
    driver:   "mongodb"
    url:      "mongodb://localhost/sampleapp_dev"
  test:
    driver:   "mongodb"
    url:      "mongodb://localhost/sampleapp_test"
  production:
    driver:   "mongodb"
    url:      "mongodb://localhost/sampleapp_prod"


