development:
  mailer: smtp
  url: "http://localhost:8888"
  from: "no-reply@switchcoder.com"
  host: "smtp.gmail.com"
  port: 587
  use_authentication: true
  user: "no-reply@switchcoder.com"
  pass: "111111"
production:
  mailer: smtp
  url: "http://localhost:8888"
  from: "no-reply@switchcoder.com"
  host: "smtp.gmail.com"
  port: 587
  use_authentication: true
  user: "no-reply@switchcoder.com"
  pass: "111111"
test:
  mailer: test
  url: "http://localhost:8888"
  from: "no-reply@switchcoder.com"
