h1 New Password

hr

- var form = formFor(user, {action: pathTo.profile_new_password, method: 'POST', id: "new_password_form", class: 'form-horizontal'});

!= form.begin()

  != errorMessagesFor(user) 

  .control-group
    != form.label("old_password", "Old Password", {class: "control-label"})
    .controls
      != form.input("old_password", {type: 'password'})
  .control-group
    != form.label("password", "New Password", {class: "control-label"})
    .controls
      != form.input("password", {type: 'password'})
  .control-group
    != form.label("password_confirmation", "Confirm New Password", {class: "control-label"})
    .controls
      != form.input("password_confirmation", {type: 'password'})

  .form-actions
    button(type="submit")#btn-update-password.btn.btn-primary
      i.icon-lock.icon-white
      | Change